* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
  background-color: black;
}
.title {
  margin: 50px;
  padding: 50px;
  font-size: 50px;
  background-image: url(../923.jpg);
}
.mainContainer {
  background-image: url(../923.jpg);
  margin: 20px;
}

li {
  list-style: none;
}

.favorite {
  color: black;
}
